{ 
box-sizing:border-box;
}
body{
  margin:0;
  padding:0;
  font-family:' Georgia',sans-serif;
  background:#d4d4d4;
  overflow-x:hidden;
}
.kuti{
  width: 100%;
  height:100%;
  background-image: url(....);
  background-size:cover;
  background-repeat:no-repeat;
}
.kuti1{
  width:100%;
  height:40rem;
  background:#000000;
  background-color:rgba(0,0,0,0.5);
}

.kuti3{
color:#c3c3c3;
}
.kuti4{
  width:auto;
  height:auto;
  margin-top:1rem;
  border:none;
  padding:0.5rem;
  border-radius:0.5rem;
  background:#76c38f;
  cursor:pointer;
  position:absolute;
  top:-100%;
 } 
  .kuti5 ul{
  padding:0;
    margin:0;
    list-style-type:none;
    display:flex;
    justify-content:center;
    aligin-items:center;
    
  }
.kuti5 li{
  width:auto;
  height:auto;
  border-radius:0.5rem;
  margin:0.5rem;
  padding:0.5rem;
  text-align:center;
  text-transform:uppercase;
}
.kuti li:hover{
  background:#76c38rf;
}
.kuti5 ul a{
text-decoration:none;
  color:#ffffff;
}



